.aboutSection{
   
    padding-top: 30px;
    
    &_title{
        font-size: 30px;
        font-style: normal;    
        line-height: normal;
        text-align: center;
  } 

   
    &_aboutArticle {
        width: 80%;
        margin: 0 auto;
        
    }    

    &_slicks{
        margin-bottom: 30px;    
       
    }


    @media (min-width: 345px) {
      
        &_title {
          letter-spacing: 4px;
          font-size: 36px;         
        }
        
    }


    @media (min-width: 768px) {
  
      &_title{
        font-size: 48px;
        letter-spacing: 6px;
      }
    }



    @media (min-width: 1200px) {
        margin-top: 10px;
       
       /* &_aboutArticle {
            display: grid;
            grid-template-columns: auto auto auto auto;
            gap: 3%;
            align-items: start;
            padding: 30px;
        }*/

        &_title {
           font-size: 48px;
         
        }   
       
        
      }

   
      
}


