.title {
    text-align: center;
    font-size: 46px;
    font-style: normal;    
    line-height: normal;
    letter-spacing: 2px;
   
}

@media only screen and (min-width: 768px) {
    .aboutSection {
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 3%;
        align-items: start;
    }
    
  }