.aboutUsSection{
    background-color: var(--rgb-secondary);
    min-height: 70vh;
    color: #000;   
    text-align: center;
    padding-top: 50px;  
    padding-bottom: 50px;   
    &_title{
        font-size: 48px;       
    }
   
}

