.aboutUsSection{
    background-color: var(--rgb-secondary);
    min-height: 70vh;
    color: #000;   
    text-align: center;
    padding-top: 50px;  
    padding-bottom: 50px;   

    &_title{
        font-size: 36px;
        font-style: normal;    
        line-height: normal;
        letter-spacing: 6px;   ;     
    }

    @media (min-width: 1200px) {
        margin-top: 10px;       
       
        &_title {
           font-size: 48px;
         
        }   
       
        
      }
}

