.linkContainer {
  display: flex;
  justify-content: center;
}

.socialStack {
  justify-content: flex-end;
}

.socialIcon,
.linkItem {
  transition: all 0.3s;

  &:hover {
    color: #b8a295;
    transform: scale(1.1);
  }
}

@media (max-width: 600px) {
  .logoContainer,
  .linkContainer,
  .socialStack,
  .linkWapp {
    justify-content: center;
    text-align: center;
  }
}
