.bc-subscription-card {
  border-radius: 7px;
  // border: 2px solid #8d8d8d;
  background: #fff;
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 30px 20px;
  box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.25);
  margin: auto;
  z-index: 1;
  position: relative;
  margin-bottom: 40px;

  &-container {
    max-width: 350px;
    margin: auto;
  }

  &__header {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2.4px;
  }

  &__title {
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__price {
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__action {
    display:flex;
    justify-content:center;
    width: 100%;
    padding: 0px 30px;
  }

  &__recommended {
    height: 50px;
    // width: 100%;
    border-radius: 7px;
    padding: 15px 25px;
    position: relative;
    bottom: -17px;
    margin: 0px auto;
    z-index: 3;
    width: fit-content;

    &.active {
      background: rgb(16,16,16);
      // background: linear-gradient(180deg, rgba(16,16,16,1) 80%, rgba(103,103,103,1) 100%);
      box-shadow: 0px 5px 6px 3px rgba(0,0,0,0.25)
    }
    &.otro{
      animation: 2s otro infinite
    }
    @keyframes otro {
      20%{
          transform: perspective(300px) translateZ(20px) ;
      }
    }
  }

  ul {
    margin-left: 20px;
    li {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 12px;
    }
  }

  hr {
    background: #000;
    height: 2px;
    margin: 20px 0px;
  }

  @media (max-width: 450px) {
    &-container {
      width: 100%;
    }

    &__title {
      font-size: 28px;
    }
  }

  @media (min-width: 451px) and (max-width: 768px) {
    &-container {
      margin: 0 auto;
    }
  }

  @media (min-width: 769px) and (max-width: 1200px) {
    &-container {
      margin: 0 auto;
    }
  }
}


button{
  letter-spacing: 1.8px;
}