@import "@/app/globals.scss";

// No funciona el cambiar el stilo del autocompletado
.loginBox input:-internal-autofill-selected {
  background-color: #101010 !important;
  color: white !important;
  appearance: menulist-button;
}

.swal2-styled {
  transition: none !important;
  box-shadow: none !important;
}


