@import "@/app/globals.scss";

nav {
  background-color: rgba(16, 16, 16, 0.8) !important;
}
.logo {
  margin: 5px 0px;
}

.navItem {
  transition: all 0.3s;
  &:hover,
  &:focus {
    transform: scale(1.1);
    color: $secondary;
  }
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: $dark;
  color: $white;
}

#user-header {
  position: relative;
}

#userHeader:hover+.dropDown__menu {
  display: block;
  animation-name: dropDownEffect;
  animation-duration: 5s;
  animation-iteration-count: 1;
  width: max-content;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.dropDown__menu:hover {
  display: block;
}

.dropDown__menu {
  display: none;
  position: absolute !important;
  top: 60px;
  border: 1px solid #E0E0E0;
  padding: 20px;
  border-radius: 17px;
  right: 20px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  list-style: none;
  max-height: 200px;
  z-index: 1000;
}

.Line {
  width: 164.12px;
  height: 0px;
  left: 1187.96px;
  top: 193.31px;
  border: 1px solid #E0E0E0;
  transform: rotate(0deg);
}

.dropdown-user-menu__button {
  cursor: pointer;
}


#option {
  padding: 10px;
  border: none;
  border-radius: 8px;
  color: black;
  display: flex;
}

#option:hover {
  background-color: #F2F2F2;
  cursor: pointer;
}

#option:nth-of-type(2) {
  color: red;
}

.dropDown__menu li>span {
  margin-left: 10px;
}


@keyframes dropDownEffect {
  0% {
    height: 30%;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}