.bc-subscription-section {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3%;

    &__title {
        text-align: center;
        font-size: 64px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        letter-spacing: 6.4px;
        margin-bottom: 50px;
    }
}