@import "~react-image-gallery/styles/scss/image-gallery.scss";

/*.ReactGridGallery{
    max-width: 230px;
}

.ReactGridGallery_tile{
    // max-height: 120px;
    // transform: scale(0.5)
    

}

.ReactGridGallery_tile-viewport{
    max-height: 130px;
    max-width: 70px;
    // display: block
    // transform: scale(0.5)
}
   

.ReactGridGallery_tile-viewport img{
    
    object-fit: contain;
   
    object-position: bottom;
}*/

.image-gallery-fullscreen-button .image-gallery-svg,
.image-gallery-play-button .image-gallery-svg {
  height: 12px;
  width: 12px;
}

.imagesGalleryContainer {
  // max-height: 200px !important;
  max-width: 100%; 
  overflow: hidden; 
}

.imagesGallery {
  max-width: 100%; 
  width: 100%; 
  
  height: auto; 
  .image-gallery-left-nav .image-gallery-svg,
  .image-gallery-right-nav .image-gallery-svg {
    height: 30px;
    width: 30px;
  }
  .image-gallery-icon:hover {
    color: #000;
  }
  
  .image-gallery-left-nav,
  .image-gallery-right-nav {
    padding: 0px;
  }
  
  .ReactGridGallery {
    display: none;
  }
}



