.containerArticle{
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.50);
    width: 100%;
    min-height: 30vh;
    display: flex;
    flex-direction: column;    
    position: relative;
   
&_textContainer{
    background-color:var(--rgb-primary) ;
    padding: 20px;
    grid-area: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    z-index: 3;
}

&_text{       
    text-align: justify;   
    font-size: 18px;   
}

&_logo1{
    display: none;
}

&_logo2{
    display: none;
}

&_imageAside{
    grid-area: auto;
    display: flex;
    background-color: var(--rgb-primary);
    align-items: center;   
    z-index: 3;  
}    

&_picMobile{
    transform: rotate(45deg);
    margin: 0 auto;
    filter: sepia(30%) drop-shadow(8px 8px 10px (grey));
    width: auto;
    height: auto; 
}

&_pic{
    display: none;
}

&_spanText{
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    text-align: center;   
}


@media (min-width: 1200px) {
        display: grid;       
        grid-template-columns: 70% auto;
        // gap: 3%;
        width: 100%;
        min-height: 30vh;
        position: relative;
        z-index: 1;
               
        

    &_spanText{           
        text-align: right;
        
    }     
    
    &_logo1{
        display: flex;
        position: absolute;
        z-index: 2;        
        left: -10px;
        top: -115px;
        opacity: 0.8;
        transform: rotate(20deg);
    }
    
    
    &_logo2{
        display: flex;
        opacity: 0.8;
        position: absolute;
        z-index: 2;        
        right: -10px;
        top: -115px;
        transform: rotate(-20deg)scaleX(-1);
     
    }
    
    &_picMobile{
        display: none;
    }

    &_pic{
        display: flex;
        transform: rotate(45deg);
        margin: 0 auto;
        filter: sepia(30%) drop-shadow(8px 8px 10px (grey));
        width: auto;
        height: auto;
      
    }
 
    
}

@media (min-width: 1300px) {
    &_logo1{            
        left: -15px;
        top: -100px;        
    }
    
    
    &_logo2{
        right: -15px;
        top: -100px;
       
     
    }
}

}