.cardContainer {
  display: grid;
  grid-template-columns: auto 50% auto;

  &_text {
    padding-left: 24px!important;
  }

  &_picMobile {
    transform: rotate(45deg);
    margin: 0 auto;
    // filter: sepia(30%) drop-shadow(8px 8px 10px (grey));
    padding-right: -16px;
  }
}
