.mainLogin {
  min-height: 100vh;
}
h4 {
  padding-top: 30px;
}

.divLogin {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo_age {
  display: none;
}

@media (min-width: 600px) {
  .mainLogin {
    background-image: linear-gradient(
        rgb(16, 16, 16, 0.5),
        rgb(16, 16, 16, 0.5)
      ),
      url("../../public/images/login/bg_login.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .login {
    background-color: rgb(16, 16, 16, 0.87);
    width: 500px;
    margin: auto;
    border-radius: 40px;
  }
}

@media (min-height: 800px) {
  .divLogin {
    padding-top: 40px;
  }
}

@media (min-width: 600px) and (min-height: 800px) {
  .logo_age {
    display: block;
    margin: 40px 20px 0px;
  }
}
