@import "../../globals.scss";

.userDataTable{
    background-color: $rgb-white;
    border-radius: 4px !important;
    font-family: $poppins-font !important;
    // box-shadow: 0px 5px 6px 3px rgba(0, 0, 0, 0.5) !important;
    button{
        color:$primary ;

    }
    
}