@import "../../globals.scss";

.display-container-btn{
    width: 45%;
}
.chip-element{
    width: 170px;
    height: 35px;
font-weight: 600;
margin-left: 10px;
}
.chip-active{
    background-color: $primary;
    color: black;
}