@import "../../globals.scss";

.recordar-datos {
  text-align: center;
}
.recordar-datos button {
  font-size: 1rem;
  font-family: var(--font-poppins);
}

.recordar-datos span {
  display: block;
  font-weight: 300;
}

.mainAge h4 {
  font-size: 2rem;
  font-family: $poppins-font;
}
.inputAge{
  max-width: 60px;
}
.inputAgeYear{
  max-width: 85px!important;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (min-width: 450px) {
  .inputAge{
    max-width: 70px;
    div{
      font-size: 1.5rem;
    }
  }
  .inputAgeYear{
    max-width: 105px!important;
  }

}

@media (min-width: 600px) {
  .recordar-datos button {
    font-size: 1.5rem;
  }
  .mainAge h4 {
    font-size: 3rem;
  }
  .inputAge{
    max-width: 90px;
    div{
      font-size: 2rem;
    }
  }
  .inputAgeYear{
    max-width: 130px!important;
  }

}
@media (min-width: 900px) {
  .inputAge{
    max-width: 120px;
    div{
      font-size: 2.5rem;
    }
  }
  .inputAgeYear{
    max-width: 160px!important;
  }

}
