.cardContainer {
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;

  &_iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    border: 2px solid #8d8d8d;
    color: #000;
    margin: 0 auto;
    margin-top: 10px;
  }

  &_icon {
    font-size: 60px;
  }

  &_description {
    margin: 0 auto;
    margin-top: 10px;
    font-size: 1em;
    letter-spacing: 0.5px;
    width: 90%;
    padding: 10px 10px 20px;
  }
  @media (min-width: 899px) and (max-width: 1199px) {
    padding: 10px;

    &_description {
      width: 90%;
    }
  }

  @media (min-width: 1200px) {
    padding: 10px;

    &_description {
      width: 100%;
    }
  }
}
